<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LX - Weather APP</title>
    <meta name="description" content="LX - Weather APP: Just search for the
    place where you live in the search box and we shall provide you with the
    complete weather forecast and current weather consitions for that place" />
    <link rel="shortcut icon" href="img/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/loader.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <!-- ============ LOADER INTEGRATED ============== -->

    <div id="overlay">
    </div>

    <!-- ============ MAIN CONTENT ========== -->

    <div id="mainContent">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="hidden-xs" id="header">
            WEATHER APP : Search for weather forecast for any place
          </h1>

        </div>
      </div>
      <!-- <h1> WEATHER APP </h1> -->
      <!-- <div class="searchbox" onClick="onClick(event)"> -->
        <!-- <form action="/resultLocation"  method="post">
          <label for="location">Location:</label>
          <input type="text" id="location"  name="location" placeholder="Enter Your Location..." required/>
          <input type="submit" onclick="showLoader()" value="Send Location" />

        </form> -->
      <!-- </div> -->
      <form method="post" action="/resultLocation" id="searchbox5">
        <input id="search52" onsubmit="showLoader()" name="location" type="text" size="80" placeholder="Enter Your Location..." required/><br /><br />
        <div >
          <button id="submitBtn" type="submit" onclick="showLoader()" value="Send Location">
            Weather Forecast
          </button>
        </div>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Main JavaScript -->
    <script src="js/main.js"></script>
    <!-- Script for loader -->
    <script src="js/loader.js"></script>
  </body>
</html>
