<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather APP</title>
    <meta name="description" content="LX - Weather APP: Just search for the
    place where you live in the search box and we shall provide you with the
    complete weather forecast and current weather consitions for that place" />
    <link rel="shortcut icon" href="img/logo.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <h1> WEATHER APP </h1>
    <form action="http://127.0.0.1:8080/" method="post">
      <label for="location">Location:</label>
      <input type="text" id="location" name="location" placeholder="Enter the location" />
       <input type="submit" value="Send message" />
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
