@font-face{
    src:url("../fonts/SanFrancis.ttf");
    font-family:sanf;
}
@font-face{
    src:url("../fonts/Helvetica.otf");
    font-family:hel;
}

#mainContent{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-image: url('../img/wind.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: hel;
}

/* ========= TITLE OF THE PAGE ========= */
#headTitle{
  text-align: center;
  padding-top: 0.5%;
}
#headTitle h1{
  font-family: sanf;
  font-weight: bold;
  font-size: 320%;
}
#lineBreak{
  /*margin-top: -4%;*/
  width: 40%;
}
#currentStatus{
  margin-top: 3%;
}
#currentData{
  margin-bottom: 4%;
}
#currentData h4{
  text-align: center;
  font-family:hel;
  font-size: 150%;
}
#lat{
  display: none;
}
#lng{
  display: none;
}
#beforeMap{
  height:400px;
  width: 400px;
  display: flex;
  text-align: center;
  align-items:center;
  background-color: rgba(235,232,222,0.5);
  background-image: url('../img/map.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 4px solid #a8a3a8;
}
#mapTrigger{
  color: rgb(54,44,57);
  padding-left: 90px;
  display: block;
  text-align: center;
  transition: 0.6s;
}
#mapTrigger:hover{
  transition: 0.6s;
  color: rgb(24,14,37);
  text-decoration: none;
  cursor: pointer;
}
#map{
  display: none;
  height: 400px;
  width: 400px;

  align-items: center;
  text-align: center;
  -webkit-box-shadow: 4px 5px 15px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 5px 15px -2px rgba(0,0,0,0.75);
  box-shadow: 4px 5px 15px -2px rgba(0,0,0,0.75);
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 4px solid #a8a3a8;
}
#showMore{

  background: #3498db;
  background-image: -webkit-linear-gradient(top, #A9A9A9, #808080);
  background-image: -moz-linear-gradient(top, #A9A9A9, #808080);
  background-image: -ms-linear-gradient(top, #A9A9A9, #808080);
  background-image: -o-linear-gradient(top, #A9A9A9, #808080);
  background-image: linear-gradient(to bottom, #A9A9A9, #808080);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  -webkit-box-shadow: 1px 2px 4px #666666;
  -moz-box-shadow: 1px 2px 4px #666666;
  box-shadow: 1px 2px 4px #666666;
  font-family: Arial;
  color: #dddddd;
  font-size: 25px;
  padding: 12px 30px 12px 30px;
  border: solid #1f628d 0px;
  text-decoration: none;
  width: 90%;
  margin-top: 1.5%;
  margin-left: 5%;
  text-align: center;
  align-items: center;
}

#showMore:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.modal-dialog{
  overflow: hidden;
  margin-left: 0;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;

  height: 100vh;
  width: 100vw;
}
.modal-body{
  height: 100vh;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 8px solid #808080;

  background-image: url('../img/wind.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /*background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 38%, rgba(246,246,246,1) 69%, rgba(246,246,246,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(38%, rgba(237,237,237,1)), color-stop(69%, rgba(246,246,246,1)), color-stop(100%, rgba(246,246,246,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 38%, rgba(246,246,246,1) 69%, rgba(246,246,246,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 38%, rgba(246,246,246,1) 69%, rgba(246,246,246,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 38%, rgba(246,246,246,1) 69%, rgba(246,246,246,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 38%, rgba(246,246,246,1) 69%, rgba(246,246,246,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=1 );*/
}

#closeButtonX{
  background: #A9A9A9;
  background-image: -webkit-linear-gradient(top, #A9A9A9, #808080);
  background-image: -moz-linear-gradient(top, #A9A9A9, #808080);
  background-image: -ms-linear-gradient(top, #A9A9A9, #808080);
  background-image: -o-linear-gradient(top, #A9A9A9, #808080);
  background-image: linear-gradient(to bottom, #A9A9A9, #808080);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 3px 3px 5px #666666;
  -webkit-box-shadow: 2px 2px 5px #666666;
  -moz-box-shadow: 2px 2px 5px #666666;
  box-shadow: 2px 2px 5px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 5px 12px 5px 12px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

#closeButtonX:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#closeButton{
  background: #A9A9A9;
  background-image: -webkit-linear-gradient(top, #A9A9A9, #808080);
  background-image: -moz-linear-gradient(top, #A9A9A9, #808080);
  background-image: -ms-linear-gradient(top, #A9A9A9, #808080);
  background-image: -o-linear-gradient(top, #A9A9A9, #808080);
  background-image: linear-gradient(to bottom, #A9A9A9, #808080);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 3px 3px 5px #666666;
  -webkit-box-shadow: 2px 2px 5px #666666;
  -moz-box-shadow: 2px 2px 5px #666666;
  box-shadow: 2px 2px 5px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 25px 10px 25px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

#closeButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.carousel-inner{
  width:100%;
}
.item{
  width: 100%;
  height:75vh;
}
#sundayBKG{
  height: 100%;
  width: auto;
}
.modal-header{
  height: 10vh;
}
.modal-footer{
  height: 15vh;
}
