#mainContent{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url('../img/wind.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ========= TITLE OF THE PAGE ========= */
#headTitle{
  text-align: center;
  padding-top: 0.5%;
}
#headTitle h1{
  font-size: 300%;
}
#lineBreak{
  /*margin-top: -4%;*/
  width: 40%;
}
#map {
  display: none;
        height: 400px;
        width: 400px;
       }
